@import '../../vars.css';

.main-section{
    min-height: 80vh;
    padding-top: 20vh;

    width: 80%;
    max-width: 1200px !important;
    margin: 0 auto;
}

.section-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    height: 100%;

    /* backdrop-filter: blur(10px); */
    /* background-color: rgba(200,200,200,.15); */
    /* background: linear-gradient(rgba(100,100,100,.5), rgba(0,0,0,0)); */

    border-radius: 1rem;
    padding: 2rem;    
    gap: 2rem;
}



/* row and cols */
.section-card .row{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    /* min-width: 600px; */
}
.section-card .col{
    flex: 1 1 300px;
}

/* .section-card .about-me-container{
    min-width: 400px;
} */

.section-card .contacts-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    margin: 4rem 0;
}
.section-card .contacts-container .contacts-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;

    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.contacts-menu li{
    background-color: var(--accent-color-primary);
    border-width: 0px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: .25rem;
}
.contacts-menu li svg{
    height: 50px;
    width: 50px;
    fill: white;
    transition: all 200ms ease-out;
}
.contacts-menu li svg:hover{
    fill: var(--accent-color-primary);
}

/* 
    About
*/
h2[class~="hero"]{
    text-align: center;
}
.about-me-container p{
    text-align: center;
}
.card-text{
    background-color: rgba(230,240,250,1);
    border-width: 0px;
    border-radius: 6px;
    padding: .75rem;
    margin: 1rem 0;

    /* min-width: 200px; */
    /* max-width: 400px; */
}
.card-text h4{
    font-style: italic;
    color: rgba(100,100,100,1);
    font-size: 14px;    
}
.card-text h3{
    margin: .25rem 0;
}
.card-text p{
    text-align: justify;
}
.card-text .credit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

/* 
    Experience 
*/
.experience-list ul,
.experience-list li{
    margin-left: 20px !important;        
}
.experience-list{    
    margin: .5rem;
}

/* 
    Skills
*/
.skills-banner{
    background-color: var(--accent-color-secondary);
    padding: 2rem 0;
}
.skills-banner h2{
    color: white;
    text-align: center;
    margin: 1rem 0 2rem 0;
}
.skills-container{
    display: flex;
    /* justify-content: center; */
    width: calc(100vw - 16px); /* to fix x-overflow bug  */
    overflow: hidden;
    margin: 0 auto;    
    position: relative;
    padding: 1rem 0;
    /* flex-wrap: nowrap; */    
}
.skills-container ul{
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */

    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0 2rem 0 0;
    padding: 0;    
    gap: 2rem;
    overflow: hidden;    
    
    animation: scrollLeft 45s linear infinite;
}
.skills-container ul.scroll-right{       
    animation: scrollRight 45s linear infinite;
}

@keyframes scrollLeft{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 32px));
    }
}
@keyframes scrollRight{
    from{
        transform: translateX(calc(-100% - 32px));
    }
    to{
        transform: translateX(0);
    }
}
/* .skills-container ul:first-child li{
    background-color: red;
}
.skills-container ul:last-child li{
    background-color: blue;
} */
.skills-container:hover ul{
    animation-play-state: paused;
}
/* .skills-container ul li:hover svg{
    stroke: white;
} */


.skills-container img,
.skills-container svg{
    /* background: ; */
    height: 25px;
    width: 25px;

    transition: all 200ms ease-out;
    /* opacity: 1;
    transform: translate(400px); */
}
.skills-container svg:hover{
    cursor: pointer;
}

.skills-container li{
    font-size: 1rem;
    color: white;

    background-color: var(--accent-color-primary);
    padding: 1rem;
    border-radius: 2rem;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: .5rem;
}


.skills-banner-filter-left{
    z-index: 100;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    height: 100%;
    background: linear-gradient(.90turn, rgba(0,0,0,0),rgba(0,0,0,0),var(--accent-color-secondary));
}
.skills-banner-filter-right{
    z-index: 100;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 100%;
    background: linear-gradient(.90turn, var(--accent-color-secondary),rgba(0,0,0,0),rgba(0,0,0,0));
}

/* 
    projects 
*/
.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    max-width: 100%;
    height: 100%;    
}
.project-card{
    overflow: clip;

    width: 100%;
    height: 100%;

    backdrop-filter: blur(10px); 
    background-color: rgba(230,240,250,1);
    /* background: linear-gradient(rgba(100,100,100,.5), rgba(0,0,0,0));     border-radius: 1rem; */
    border-radius: 1rem;    
    padding-bottom: 3rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, .25);
}
.project-image-container {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px 8px 0 0; /* optional */
}
.project-card img{
    width: 100%;
    max-height: 100%;
    border-radius: 0;

    transition: all var(--transition-speed) ease-out;
}
.project-card h4,
.project-card p{
    margin: .5rem;
    text-align: justify;
}

.project-img-label{
    display: none;
    transition: all var(--transition-speed) ease-out;
}

.project-card a{
    text-decoration: none;
}
.project-card svg{
    height: 2rem;
    width: 2rem;
    margin: .5rem;
    transition: all 200ms ease-out;
}
.project-card .source-code-icon{
    position: absolute;
    bottom: .25rem;
    left: calc(.5rem + 2rem + 1rem);
    fill: var(--color-text);
}
.project-card .source-code-icon:hover{
    fill: var(--accent-color-primary);
}

.project-card .hosted-project-icon{
    position: absolute;
    bottom: .25rem;
    left: .25rem;
    stroke: var(--color-text);
}
.project-card .hosted-project-icon:hover{
    stroke: var(--accent-color-primary);
}
.project-card-skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 .5rem;
}
.project-card-skills span{
    background-color: var(--accent-color-primary-light);
    color: var(--accent-color-secondary);
    border-radius: 6px;
    padding: .25rem .5rem;
}






/* tweaks */
.italic{
    font-style: italic;
}
.hero{
    font-size: 6rem;
}
.xxl{
    font-size: 4rem;
}
.xl{
    font-size: 2rem;
}
.lg{
    font-size: 1.5rem;
}


/* inginite side scroll animation for skills banner */



@media screen and (max-width: 400px){
    .hero {
        font-size: 3rem; /* Adjusted font size for smaller screens */
    }
    .xxl {
        font-size: 2rem;
    }
    .xl {
        font-size: 1.25rem;
    }
    .lg {
        font-size: 1rem;
    }
}


@media screen and (max-width: 720px){
    .hero {
        font-size: 4rem; /* Adjusted font size for smaller screens */
    }
    .xxl {
        font-size: 3rem;
    }
    .xl {
        font-size: 1.5rem;
    }
    .lg {
        font-size: 1.2rem;
    }
}
