@import '../../vars.css';

.mainSection{
    min-height: 80vh;
    padding-top: 20vh;

    width: 80%;
    max-width: 1200px !important;
    margin: 0 auto;
}

.sectionCard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    height: 100%;

    /* backdrop-filter: blur(10px); */
    /* background-color: rgba(200,200,200,.15); */
    /* background: linear-gradient(rgba(100,100,100,.5), rgba(0,0,0,0)); */

    border-radius: 1rem;
    padding: 2rem;    
    gap: 2rem;
}



/* row and cols */
.sectionCard .row{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    /* min-width: 600px; */
}
.sectionCard .col{
    flex: 1 1 300px;
}

/* .sectionCard .aboutMeContainer{
    min-width: 400px;
} */

.sectionCard .contactsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    margin: 4rem 0;
}
.sectionCard .contactsContainer .contactsMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;

    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.contactsMenu li{
    background-color: var(--accent-color-primary);
    border-width: 0px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: .25rem;
}
.contactsMenu li svg{
    height: 50px;
    width: 50px;
    fill: white;
    transition: all 200ms ease-out;
}
.contactsMenu li svg:hover{
    fill: var(--accent-color-primary);
}

/* 
    About
*/
.aboutMeContainer p{
    text-align: center;
}
.cardText{
    background-color: rgba(230,240,250,1);
    border-width: 0px;
    border-radius: 6px;
    padding: .75rem;
    margin: 1rem 0;

    /* min-width: 200px; */
    /* max-width: 400px; */
}
.cardText h4{
    font-style: italic;
    color: rgba(100,100,100,1);
    font-size: 14px;    
}
.cardText h3{
    margin: .25rem 0;
}
.cardText p{
    text-align: justify;
}
.cardText .credit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

/* 
    Experience 
*/
.experienceList ul,
.experienceList li{
    margin-left: 20px !important;        
}
.experienceList{    
    margin: .5rem;
}

/* 
    Skills
*/
.skillsBanner{
    background-color: var(--accent-color-secondary);
    padding: .5rem 0;
}
.skillsBanner h2{
    color: white;
    text-align: center;
    margin: .5rem 0;
}
.skillsContainer{
    display: flex;
    /* justify-content: center; */
    width: calc(100vw - 16px); /* to fix x-overflow bug  */
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    /* flex-wrap: nowrap; */    
}
.skillsContainer ul{
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */

    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0 2rem 0 0;
    padding: 0;    
    gap: 2rem;
    overflow: hidden;    
    
    animation: scroll 60s linear infinite;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-100% - 32px));
    }
}
/* .skillsContainer ul:first-child li{
    background-color: red;
}
.skillsContainer ul:last-child li{
    background-color: blue;
} */
.skillsContainer:hover ul{
    animation-play-state: paused;
}
.skillsContainer ul li:hover svg{
    stroke: white;
}


.skillsContainer img,
.skillsContainer svg{
    /* background: ; */
    height: 75px;
    width: 75px;

    transition: all 200ms ease-out;
    /* opacity: 1;
    transform: translate(400px); */
}
.skillsContainer svg:hover{
    cursor: pointer;
}


.skillsBannerFilterLeft{
    z-index: 100;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    height: 100%;
    background: linear-gradient(.90turn, rgba(0,0,0,0),rgba(0,0,0,0),var(--accent-color-secondary));
}
.skillsBannerFilterRight{
    z-index: 100;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 100%;
    background: linear-gradient(.90turn, var(--accent-color-secondary),rgba(0,0,0,0),rgba(0,0,0,0));
}

/* 
    projects 
*/
.projectContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    max-width: 100%;
    height: 100%;    
}
.projectCard{
    overflow: clip;

    width: 100%;
    height: 100%;

    backdrop-filter: blur(10px); 
    background-color: rgba(230,240,250,1);
    /* background: linear-gradient(rgba(100,100,100,.5), rgba(0,0,0,0));     border-radius: 1rem; */
    border-radius: 1rem;    
    padding-bottom: 3rem;
}
.projectCard img{
    width: 100%;
    max-height: 100%;
    border-radius: 0;

    transition: all var(--transition-speed) ease-out;
}
.projectCard h4,
.projectCard p{
    margin: .5rem;
    text-align: justify;
}

.projectImgLabel{
    display: none;
    transition: all var(--transition-speed) ease-out;
}

.projectCard a{
    text-decoration: none;
}
.projectCard svg{
    height: 2rem;
    width: 2rem;
    margin: .5rem;
    transition: all 200ms ease-out;
}
.projectCard .sourceCodeIcon{
    position: absolute;
    bottom: .25rem;
    left: calc(.5rem + 2rem + 1rem);
    fill: var(--color-text);
}
.projectCard .sourceCodeIcon:hover{
    fill: var(--accent-color-primary);
}

.projectCard .hostedProjectIcon{
    position: absolute;
    bottom: .25rem;
    left: .25rem;
    stroke: var(--color-text);
}
.projectCard .hostedProjectIcon:hover{
    stroke: var(--accent-color-primary);
}







/* tweaks */
.italic{
    font-style: italic;
}
.hero{
    font-size: 6rem;
}
.xxl{
    font-size: 4rem;
}
.xl{
    font-size: 2rem;
}
.lg{
    font-size: 1.5rem;
}


/* inginite side scroll animation for skills banner */



@media screen and (max-width: 400px){
    .hero {
        font-size: 3rem; /* Adjusted font size for smaller screens */
    }
    .xxl {
        font-size: 2rem;
    }
    .xl {
        font-size: 1.25rem;
    }
    .lg {
        font-size: 1rem;
    }
}


@media screen and (max-width: 720px){
    .hero {
        font-size: 4rem; /* Adjusted font size for smaller screens */
    }
    .xxl {
        font-size: 3rem;
    }
    .xl {
        font-size: 1.5rem;
    }
    .lg {
        font-size: 1.2rem;
    }
}